@charset "UTF-8";
/* Box sizing rules */
*, *::before, *::after { box-sizing: border-box; }

/* Remove default margin */
body, h1, h2, h3, h4, p, figure, blockquote, dl, dd { margin: 0; }

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'], ol[role='list'] { list-style: none; }

/* Set core root defaults */
html:focus-within { scroll-behavior: smooth; }

/* Set core body defaults */
body { min-height: 100vh; text-rendering: optimizeSpeed; line-height: 1.5; }

/* A elements that don't have a class get default styles */
a:not([class]) { text-decoration-skip-ink: auto; }

/* Make images easier to work with */
img, picture { max-width: 100%; display: block; }

/* Inherit fonts for inputs and buttons */
input, button, textarea, select { font: inherit; }

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) { html:focus-within { scroll-behavior: auto; } *, *::before, *::after { animation-duration: 0.01ms !important; animation-iteration-count: 1 !important; transition-duration: 0.01ms !important; scroll-behavior: auto !important; } }

html { font-size: 16px; }

body { font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif; line-height: 1.5; color: #e2efe6; background-color: #000411; }

img { display: block; max-width: 100%; }

li { transition: background-color 0.18s ease-in-out, color 0.18s ease-in-out, border-color 0.18s ease-in-out; }

a { text-decoration: none; color: #efcc68; }

a:not([class]) { color: #efcc68; }

::selection { color: #efcc68; background-color: #000411; }

[href]:hover { text-decoration: none; }

ul, ol { margin: 0; padding: 0; list-style: none; }

h1 { max-width: 25ch; }

h1, h2 { font-weight: 700; line-height: 1.35; }

h1 { font-size: 2.36rem; }

h2 { font-size: 1.77rem; }

h3 { font-size: 1.33rem; }

.flow > * + * { margin-top: 1em; }

.container { display: grid; gap: 20px 10px; padding: 10px; grid-template-columns: repeat(8, 1fr); margin: 0 auto; max-width: 1280px; }

body { padding: 5em 1em; }

header p { font-size: 1.33rem; }

footer { margin-top: 2em; }

header, main, footer { grid-column: 1/-1; }

main { margin-top: 2em; display: grid; grid-template-columns: repeat(4, 1fr); gap: 20px 16px; }

@media only screen and (min-width: 320px) and (max-width: 759px) { html { font-size: 14px; } main { display: grid; grid-template-columns: repeat(1, 1fr); gap: 20px 16px; } }

.card { display: flex; align-items: start; position: relative; padding: 1em; overflow: hidden; flex-direction: column; color: #000411; border-radius: 8px; background-color: #e3f0e7; }

.card a { color: #000411; }

.card .outgoing:hover:after { display: inline-block; margin-left: 5px; width: .8em; height: .8em; content: ''; background: url(/img/external-link.svg) no-repeat; background-size: .8em .8em; }

.card article { margin-top: .5em; font-size: 1rem; line-height: 1.45; }

.card .tag { position: absolute; top: 0; right: 0; padding: 3px 8px; font-size: 0.75rem; font-weight: 600; color: #000411; border-bottom-left-radius: 8px; background-color: #efcc68; }

.card .learn-more { display: flex; align-items: center; margin-top: .5em; font-size: 1rem; font-weight: 600; }

.card .learn-more:after { margin-left: 5px; content: '•••'; }

.carbon-box { margin-top: 2em; height: 100px; }

#carbonads * { margin: initial; padding: initial; }

#carbonads { font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', Helvetica, Arial, sans-serif; }

#carbonads { display: flex; max-width: 360px; background-color: #1a1a1a; box-shadow: 0 0 1px rgba(0, 0, 0, 0.5); }

#carbonads a { text-decoration: none; color: #ddd; }

#carbonads a:hover { color: #ddd; }

#carbonads span { display: block; position: relative; overflow: hidden; }

#carbonads .carbon-wrap { display: flex; }

#carbonads .carbon-img { display: block; margin: 0; line-height: 1; }

#carbonads .carbon-img img { display: block; }

#carbonads .carbon-text { margin-bottom: 16px; padding: 10px; font-size: 13px; line-height: 1.5; text-align: left; }

#carbonads .carbon-poweredby { display: block; position: absolute; right: 0; bottom: 0; padding: 6px 8px; font-size: 8px; font-weight: 600; line-height: 1; text-align: center; letter-spacing: .5px; text-transform: uppercase; color: #aaa; border-top-left-radius: 6px; background: #1e2021; }

/*# sourceMappingURL=style.css.map */